In [249]:
import pandas as pd

In [250]:
import numpy as np

In [251]:
crop_df = pd.read_csv(r'D:\ECO221_Group-25\data\ECO221_Project_2025_Final.csv')

In [252]:
rainfall_df = pd.read_csv(r'D:\ECO221_Group-25\data\RF_DistrictWise_ECO221_2025.csv')

In [253]:
salinity_df = pd.read_csv(r'D:\ECO221_Group-25\data\Salinity_Alkalinity_ECO221_2025.csv')

In [254]:
sugarcane_df = crop_df[crop_df['crop'].str.lower() == 'sugarcane'].copy()

In [255]:
sugarcane_df.isnull().sum()

crop                           0
area1000hectares              65
production1000tonnes          65
irrigatedarea1000hectares     65
districtcode                   0
year                           0
statecode                      0
statename                      0
nitrogenconsumptiontonnes      0
phosphateconsumptiontonnes     0
potashconsumptiontonnes        0
districtname                   0
dtype: int64

In [256]:
sugarcane_df.dropna(inplace = True)

In [257]:
sugarcane_df

,crop,area1000hectares,production1000tonnes,irrigatedarea1000hectares,districtcode,year,statecode,statename,nitrogenconsumptiontonnes,phosphateconsumptiontonnes,potashconsumptiontonnes,districtname
8,Sugarcane,19.85,3.59,19.820,1,2017,14,Chhattisgarh,91447,53486,16993,Durg
35,Sugarcane,0.72,0.11,0.616,2,2017,14,Chhattisgarh,21279,12584,4271,Bastar
64,Sugarcane,0.27,0.05,0.267,3,2017,14,Chhattisgarh,92008,47721,15054,Raipur
71,Sugarcane,7.57,0.83,7.484,4,2017,14,Chhattisgarh,72926,29713,6915,Bilaspur
95,Sugarcane,0.43,0.09,0.431,5,2017,14,Chhattisgarh,31282,13620,3707,Raigarh
...,...,...,...,...,...,...,...,...,...,...,...,...
5630,Sugarcane,0.23,1.42,0.120,907,2017,2,Bihar,90899,24771,4278,Patna
5635,Sugarcane,2.53,15.81,0.490,908,2017,2,Bihar,125661,42562,21130,Mungair
5670,Sugarcane,2.63,14.79,0.820,909,2017,2,Bihar,60780,19306,11211,Bhagalpur
5717,Sugarcane,0.24,1.53,0.230,911,2017,2,Bihar,162928,50799,7932,Shahabad (now part of Bhojpur district)
5725,Sugarcane,0.32,1.56,0.190,912,2017,2,Bihar,99317,30221,4369,Gaya

In [258]:
#Capping the irrigated Area
sugarcane_df['irrigatedarea_capped'] = sugarcane_df[["irrigatedarea1000hectares", "area1000hectares"]].min(axis=1)

In [259]:
# sugarcane_df['irrigatedarea_new'] = sugarcane_df['irrigatedarea_capped'] + 1

In [260]:
# sugarcane_df['unirrigated_area'] = sugarcane_df['area1000hectares'] - sugarcane_df['irrigatedarea_capped']

In [261]:
initial_districts = crop_df[crop_df["crop"].str.lower() == "sugarcane"]["districtname"].str.lower().str.strip().nunique()
print("Initial sugarcane districts:", initial_districts)

Initial sugarcane districts: 266

In [262]:
rainfall_2017 = rainfall_df[rainfall_df['yearcode'] == 2017].copy()
rainfall_2017['month'] = rainfall_2017['month'].str.lower().str.strip()
rainfall_2017['district'] = rainfall_2017['district'].str.lower().str.strip()

In [263]:
monsoon_months = ['june, 2017', 'july, 2017', 'august, 2017', 'september, 2017']

In [264]:
# === Aggregate annual rainfall ===
annual_rainfall = rainfall_2017.groupby('district')['rf'].sum().reset_index()
annual_rainfall.columns = ['districtname', 'annual_rainfall_mm']

In [265]:
# === Aggregate monsoon rainfall ===
monsoon_rainfall = rainfall_2017[rainfall_2017['month'].isin(monsoon_months)]
monsoon_summary = monsoon_rainfall.groupby('district')['rf'].sum().reset_index()
monsoon_summary.columns = ['districtname', 'monsoon_rainfall_mm']

In [266]:
sugarcane_df['districtname'] = sugarcane_df['districtname'].str.lower().str.strip()
annual_rainfall['districtname'] = annual_rainfall['districtname'].str.lower().str.strip()
monsoon_summary['districtname'] = monsoon_summary['districtname'].str.lower().str.strip()

In [267]:
# === Merge rainfall summaries ===
sugarcane_df = pd.merge(sugarcane_df, annual_rainfall, on='districtname', how='inner')
sugarcane_df = pd.merge(sugarcane_df, monsoon_summary, on='districtname', how='inner')
# sugarcane_df = pd.merge(sugarcane_df, annual_rainfall, on='districtname', how='left')
# sugarcane_df = pd.merge(sugarcane_df, monsoon_summary, on='districtname', how='left')

In [268]:
sugarcane_df

,crop,area1000hectares,production1000tonnes,irrigatedarea1000hectares,districtcode,year,statecode,statename,nitrogenconsumptiontonnes,phosphateconsumptiontonnes,potashconsumptiontonnes,districtname,irrigatedarea_capped,annual_rainfall_mm,monsoon_rainfall_mm
0,Sugarcane,19.850000,3.59,19.820000,1,2017,14,Chhattisgarh,91447,53486,16993,durg,19.820000,861.629998,805.980000
1,Sugarcane,0.720000,0.11,0.616000,2,2017,14,Chhattisgarh,21279,12584,4271,bastar,0.616000,902.189990,781.249990
2,Sugarcane,0.270000,0.05,0.267000,3,2017,14,Chhattisgarh,92008,47721,15054,raipur,0.267000,683.989988,621.329990
3,Sugarcane,7.570000,0.83,7.484000,4,2017,14,Chhattisgarh,72926,29713,6915,bilaspur,7.484000,1857.730027,1539.510022
4,Sugarcane,0.430000,0.09,0.431000,5,2017,14,Chhattisgarh,31282,13620,3707,raigarh,0.430000,624.520000,563.340000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Sugarcane,0.150000,0.87,0.130000,904,2017,2,Bihar,44082,18294,11692,saharsa,0.130000,1101.630021,839.480022
165,Sugarcane,27.690001,158.70,19.629999,906,2017,2,Bihar,65685,16211,3535,saran,19.629999,529.989991,359.050002
166,Sugarcane,0.230000,1.42,0.120000,907,2017,2,Bihar,90899,24771,4278,patna,0.120000,700.579998,504.499998
167,Sugarcane,2.630000,14.79,0.820000,909,2017,2,Bihar,60780,19306,11211,bhagalpur,0.820000,958.229988,625.799990
168,Sugarcane,0.320000,1.56,0.190000,912,2017,2,Bihar,99317,30221,4369,gaya,0.190000,765.729990,592.589989

In [269]:
print("Merged sugarcane data with rainfall:")
print(sugarcane_df[['districtname', 'annual_rainfall_mm', 'monsoon_rainfall_mm']].head(10))

Merged sugarcane data with rainfall:
  districtname  annual_rainfall_mm  monsoon_rainfall_mm
0         durg          861.629998           805.980000
1       bastar          902.189990           781.249990
2       raipur          683.989988           621.329990
3     bilaspur         1857.730027          1539.510022
4      raigarh          624.520000           563.340000
5      surguja          580.889988           516.769989
6     jabalpur          826.810001           775.400000
7     balaghat          962.159988           899.959990
8   chhindwara          953.030709           882.499790
9  narsinghpur          817.670000           771.730000

In [270]:
merged_districts_task1 = sugarcane_df['districtname'].nunique()
missing_rain = sugarcane_df[sugarcane_df['annual_rainfall_mm'].isna() | sugarcane_df['monsoon_rainfall_mm'].isna()]['districtname'].unique()
print("Merged districts (Task 1):", merged_districts_task1)
print("Districts missing rainfall data:", len(missing_rain))

Merged districts (Task 1): 169
Districts missing rainfall data: 0

In [271]:
sugarcane_df.isnull().sum()

crop                          0
area1000hectares              0
production1000tonnes          0
irrigatedarea1000hectares     0
districtcode                  0
year                          0
statecode                     0
statename                     0
nitrogenconsumptiontonnes     0
phosphateconsumptiontonnes    0
potashconsumptiontonnes       0
districtname                  0
irrigatedarea_capped          0
annual_rainfall_mm            0
monsoon_rainfall_mm           0
dtype: int64

In [272]:
sugarcane_df.dropna(inplace = True)

In [273]:
sugarcane_df

,crop,area1000hectares,production1000tonnes,irrigatedarea1000hectares,districtcode,year,statecode,statename,nitrogenconsumptiontonnes,phosphateconsumptiontonnes,potashconsumptiontonnes,districtname,irrigatedarea_capped,annual_rainfall_mm,monsoon_rainfall_mm
0,Sugarcane,19.850000,3.59,19.820000,1,2017,14,Chhattisgarh,91447,53486,16993,durg,19.820000,861.629998,805.980000
1,Sugarcane,0.720000,0.11,0.616000,2,2017,14,Chhattisgarh,21279,12584,4271,bastar,0.616000,902.189990,781.249990
2,Sugarcane,0.270000,0.05,0.267000,3,2017,14,Chhattisgarh,92008,47721,15054,raipur,0.267000,683.989988,621.329990
3,Sugarcane,7.570000,0.83,7.484000,4,2017,14,Chhattisgarh,72926,29713,6915,bilaspur,7.484000,1857.730027,1539.510022
4,Sugarcane,0.430000,0.09,0.431000,5,2017,14,Chhattisgarh,31282,13620,3707,raigarh,0.430000,624.520000,563.340000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Sugarcane,0.150000,0.87,0.130000,904,2017,2,Bihar,44082,18294,11692,saharsa,0.130000,1101.630021,839.480022
165,Sugarcane,27.690001,158.70,19.629999,906,2017,2,Bihar,65685,16211,3535,saran,19.629999,529.989991,359.050002
166,Sugarcane,0.230000,1.42,0.120000,907,2017,2,Bihar,90899,24771,4278,patna,0.120000,700.579998,504.499998
167,Sugarcane,2.630000,14.79,0.820000,909,2017,2,Bihar,60780,19306,11211,bhagalpur,0.820000,958.229988,625.799990
168,Sugarcane,0.320000,1.56,0.190000,912,2017,2,Bihar,99317,30221,4369,gaya,0.190000,765.729990,592.589989

In [274]:
sugarcane_df.isnull().sum()

crop                          0
area1000hectares              0
production1000tonnes          0
irrigatedarea1000hectares     0
districtcode                  0
year                          0
statecode                     0
statename                     0
nitrogenconsumptiontonnes     0
phosphateconsumptiontonnes    0
potashconsumptiontonnes       0
districtname                  0
irrigatedarea_capped          0
annual_rainfall_mm            0
monsoon_rainfall_mm           0
dtype: int64

In [275]:
sugarcane_df.to_csv('D:\ECO221_Group-25\data\ task1.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\DELL\AppData\Local\Temp\ipykernel_20032\4013827872.py:1: SyntaxWarning: invalid escape sequence '\E'
  sugarcane_df.to_csv('D:\ECO221_Group-25\data\ task1.csv', index=False)

In [276]:
salinity_df.head()

              District Name  Average Salinity/Alkalinity (Percentage)
0            South Andamans                                  0.000000
1                  Nicobars                                  0.000000
2  North And Middle Andaman                                  0.000000
3                 Anantapur                                 12.341882
4                  Chittoor                                  2.652205

In [277]:
salinity_df['districtname']= salinity_df['District Name'].str.lower().str.strip()

In [278]:
sugarcane_df['districtname'] = sugarcane_df['districtname'].str.lower().str.strip()

In [279]:
sugarcane_df = pd.merge(
    sugarcane_df,
    salinity_df[['districtname', 'Average Salinity/Alkalinity (Percentage)']],  # adjust if column name is different
    on='districtname',
    how='inner'
)

In [280]:
print(sugarcane_df[['districtname', 'Average Salinity/Alkalinity (Percentage)']].dropna().head())

  districtname  Average Salinity/Alkalinity (Percentage)
0         durg                                  0.000000
1       bastar                                  0.000000
2       raipur                                  0.000000
3     bilaspur                                  0.390813
4      raigarh                                  0.000000

In [281]:
print(sugarcane_df['Average Salinity/Alkalinity (Percentage)'].notnull().sum(), "districts with salinity data")

168 districts with salinity data

In [282]:
# Save the DataFrame after merging salinity data
sugarcane_df.to_csv('D:\ECO221_Group-25\data\ task2.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\E'
<>:2: SyntaxWarning: invalid escape sequence '\E'
C:\Users\DELL\AppData\Local\Temp\ipykernel_20032\4240613749.py:2: SyntaxWarning: invalid escape sequence '\E'
  sugarcane_df.to_csv('D:\ECO221_Group-25\data\ task2.csv', index=False)