In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
crop_df = pd.read_csv(r'D:\ECO221_Group-25\data\ECO221_Project_2025_Final.csv')

In [8]:
rainfall_df = pd.read_csv(r'D:\ECO221_Group-25\data\RF_DistrictWise_ECO221_2025.csv')

In [9]:
salinity_df = pd.read_csv(r'D:\ECO221_Group-25\data\Salinity_Alkalinity_ECO221_2025.csv')

In [43]:
sugarcane_df = crop_df[crop_df["crop"].str.lower()=="sugarcane"].copy()

In [44]:
#Capping the irrigated Area
sugarcane_df["irrigatedarea_capped"] = sugarcane_df[["irrigatedarea1000hectares","area1000hectares"]].min(axis=1)

In [45]:
sugarcane_df["irrigatedarea_new"] = sugarcane_df["irrigatedarea_capped"] + 1

In [46]:
sugarcane_df["unirrigated_area"] = sugarcane_df["area1000hectares"] - sugarcane_df["irrigatedarea_capped"]

In [47]:
sugercane_df.isnull().sum()

crop                          0
area1000hectares              0
production1000tonnes          0
irrigatedarea1000hectares     0
districtcode                  0
year                          0
statecode                     0
statename                     0
nitrogenconsumptiontonnes     0
phosphateconsumptiontonnes    0
potashconsumptiontonnes       0
districtname                  0
irrigatedarea_capped          0
irrigatedarea_new             0
unirrigated_area              0
annual_rainfall               0
salinity_percent              0
dtype: int64

In [22]:
rainfall_2017 = rainfall_df[rainfall_df['yearcode'] == 2017]

In [24]:
rainfall_summary = rainfall_2017.groupby('district')['rf'].sum().reset_index()

In [25]:
rainfall_summary.columns = ['districtname','annual_rainfall']

In [26]:
salinity_df.columns = ['districtname','salinity_percent']

In [48]:
sugarcane_df['districtname'] = sugarcane_df['districtname'].str.strip().str.lower()
rainfall_summary['districtname'] = rainfall_summary['districtname'].str.strip().str.lower()
salinity_df['districtname'] = salinity_df['districtname'].str.strip().str.lower()

In [49]:
print("Common districts (rainfall):", set(sugarcane_df['districtname']) & set(rainfall_summary['districtname']))
print("Common districts (salinity):", set(sugarcane_df['districtname']) & set(salinity_df['districtname']))

Common districts (rainfall): {'patna', 'raigad', 'chamba', 'nalgonda', 'fatehpur', 'karbi anglong', 'dibrugarh', 'tikamgarh', 'jalaun', 'thiruvananthapuram', 'etawah', 'dharwad', 'ahmednagar', 'thane', 'rampur', 'gwalior', 'morena', 'east godavari', 'mandi', 'uttara kannada', 'dhule', 'meerut', 'deoria', 'ballia', 'udaipur', 'nagpur', 'betul', 'chittoor', 'the nilgiris', 'raipur', 'nagaur', 'jind', 'barabanki', 'bhind', 'chhindwara', 'muzaffarnagar', 'jamnagar', 'rohtak', 'sehore', 'alappuzha', 'darrang', 'gurdaspur', 'karnal', 'osmanabad', 'dakshina kannada', 'dehradun', 'palakkad', 'saharsa', 'tehri garhwal', 'kamrup', 'kullu', 'ganganagar', 'solan', 'panna', 'beed', 'hardoi', 'nizamabad', 'balaghat', 'surendranagar', 'pratapgarh', 'ajmer', 'kheri', 'lucknow', 'sidhi', 'gonda', 'dewas', 'jhabua', 'shimla', 'uttar kashi', 'sikar', 'dhar', 'saharanpur', 'hazaribagh', 'bhavnagar', 'dungarpur', 'goalpara', 'shahjahanpur', 'budaun', 'ratlam', 'kurnool', 'kollam', 'darbhanga', 'datia', 'chittorgarh', 'narsinghpur', 'vidisha', 'raigarh', 'bijnor', 'patiala', 'varanasi', 'srikakulam', 'shahdol', 'warangal', 'ambala', 'bhagalpur', 'muzaffarpur', 'jalore', 'azamgarh', 'bharuch', 'bharatpur', 'karimnagar', 'kozhikode', 'sitapur', 'jaisalmer', 'jaunpur', 'sangli', 'surat', 'gorakhpur', 'damoh', 'farrukhabad', 'medak', 'akola', 'jhansi', 'shivpuri', 'gaya', 'thrissur', 'satara', 'ratnagiri', 'jabalpur', 'krishna', 'chitradurga', 'pilibhit', 'nainital', 'kannur', 'rajgarh', 'ludhiana', 'nagaon', 'chhatarpur', 'kottayam', 'solapur', 'saran', 'kangra', 'satna', 'sangrur', 'salem', 'bhandara', 'mandla', 'raichur', 'amritsar', 'parbhani', 'shajapur', 'west godavari', 'hassan', 'madurai', 'jhalawar', 'alwar', 'guna', 'bidar', 'hyderabad', 'jalandhar', 'bhilwara', 'bareilly', 'bikaner', 'jaipur', 'hamirpur', 'kapurthala', 'amreli', 'hoshangabad', 'basti', 'bilaspur', 'chandrapur', 'jodhpur', 'mandsaur', 'khammam', 'kolar', 'nanded', 'valsad', 'rajkot', 'sagar', 'kinnaur', 'bastar', 'indore', 'mandya', 'bundi', 'aurangabad', 'thanjavur', 'ranchi', 'surguja', 'sultanpur', 'sirohi', 'mathura', 'malappuram', 'banda', 'adilabad', 'dhanbad', 'hoshiarpur', 'etah', 'pune', 'junagadh', 'cachar', 'agra', 'unnao', 'ghazipur', 'ujjain', 'mainpuri', 'mahabubnagar', 'tonk', 'durg', 'jalgaon', 'barmer', 'aligarh', 'pali', 'sirmaur', 'wardha', 'kota', 'rewa', 'banswara', 'buldhana', 'kheda', 'raisen', 'kolhapur', 'bahraich', 'guntur', 'lakhimpur', 'moradabad', 'chamoli', 'churu', 'coimbatore'}
Common districts (salinity): {'patna', 'raigad', 'chamba', 'nalgonda', 'fatehpur', 'karbi anglong', 'dibrugarh', 'tikamgarh', 'jalaun', 'thiruvananthapuram', 'etawah', 'dharwad', 'ahmednagar', 'thane', 'rampur', 'gwalior', 'morena', 'east godavari', 'mandi', 'uttara kannada', 'dhule', 'meerut', 'deoria', 'ballia', 'udaipur', 'nagpur', 'betul', 'chittoor', 'the nilgiris', 'raipur', 'nagaur', 'jind', 'barabanki', 'bhind', 'chhindwara', 'muzaffarnagar', 'jamnagar', 'rohtak', 'sehore', 'alappuzha', 'darrang', 'gurdaspur', 'karnal', 'osmanabad', 'dakshina kannada', 'dehradun', 'palakkad', 'saharsa', 'tehri garhwal', 'kamrup', 'kullu', 'ganganagar', 'solan', 'panna', 'beed', 'hardoi', 'nizamabad', 'balaghat', 'surendranagar', 'pratapgarh', 'ajmer', 'kheri', 'lucknow', 'sidhi', 'gonda', 'dewas', 'jhabua', 'shimla', 'uttar kashi', 'sikar', 'dhar', 'saharanpur', 'hazaribagh', 'bhavnagar', 'dungarpur', 'goalpara', 'shahjahanpur', 'budaun', 'ratlam', 'kurnool', 'kollam', 'darbhanga', 'datia', 'chittorgarh', 'narsinghpur', 'vidisha', 'raigarh', 'bijnor', 'patiala', 'varanasi', 'srikakulam', 'shahdol', 'ambala', 'bhagalpur', 'muzaffarpur', 'jalore', 'azamgarh', 'bharuch', 'bharatpur', 'karimnagar', 'kozhikode', 'sitapur', 'jaisalmer', 'jaunpur', 'sangli', 'surat', 'gorakhpur', 'damoh', 'farrukhabad', 'medak', 'akola', 'jhansi', 'shivpuri', 'gaya', 'thrissur', 'satara', 'ratnagiri', 'jabalpur', 'krishna', 'chitradurga', 'pilibhit', 'nainital', 'kannur', 'rajgarh', 'ludhiana', 'nagaon', 'chhatarpur', 'kottayam', 'solapur', 'saran', 'kangra', 'satna', 'sangrur', 'salem', 'bhandara', 'mandla', 'raichur', 'amritsar', 'parbhani', 'shajapur', 'west godavari', 'hassan', 'madurai', 'jhalawar', 'alwar', 'guna', 'bidar', 'hyderabad', 'jalandhar', 'bhilwara', 'bareilly', 'bikaner', 'jaipur', 'hamirpur', 'kapurthala', 'amreli', 'hoshangabad', 'basti', 'bilaspur', 'chandrapur', 'jodhpur', 'mandsaur', 'khammam', 'kolar', 'nanded', 'valsad', 'rajkot', 'sagar', 'kinnaur', 'bastar', 'indore', 'mandya', 'bundi', 'aurangabad', 'thanjavur', 'ranchi', 'surguja', 'sultanpur', 'sirohi', 'mathura', 'malappuram', 'banda', 'adilabad', 'dhanbad', 'hoshiarpur', 'etah', 'pune', 'junagadh', 'cachar', 'agra', 'unnao', 'ghazipur', 'ujjain', 'mainpuri', 'mahabubnagar', 'tonk', 'durg', 'jalgaon', 'barmer', 'aligarh', 'pali', 'sirmaur', 'wardha', 'kota', 'rewa', 'banswara', 'buldhana', 'kheda', 'raisen', 'kolhapur', 'bahraich', 'guntur', 'lakhimpur', 'moradabad', 'chamoli', 'churu', 'coimbatore'}

In [50]:
print("Sugarcane districts:\n", sugarcane_df['districtname'].dropna().unique()[:10])
print("\nRainfall districts:\n", rainfall_summary['districtname'].dropna().unique()[:10])
print("\nSalinity districts:\n", salinity_df['districtname'].dropna().unique()[:10])

Sugarcane districts:
 ['durg' 'bastar' 'raipur' 'bilaspur' 'raigarh' 'surguja' 'jabalpur'
 'balaghat' 'chhindwara' 'narsinghpur']

Rainfall districts:
 ['24 paraganas north' '24 paraganas south' 'adilabad' 'agar malwa' 'agra'
 'ahmadabad' 'ahmednagar' 'aizawl' 'ajmer' 'akola']

Salinity districts:
 ['south andamans' 'nicobars' 'north and middle andaman' 'anantapur'
 'chittoor' 'y.s.r.' 'east godavari' 'guntur' 'krishna' 'kurnool']

In [51]:
print(sugarcane_df.shape)
print(sugarcane_df.head())

(266, 15)
         crop  area1000hectares  production1000tonnes  \
8   Sugarcane             19.85                  3.59
35  Sugarcane              0.72                  0.11
64  Sugarcane              0.27                  0.05
71  Sugarcane              7.57                  0.83
95  Sugarcane              0.43                  0.09

    irrigatedarea1000hectares  districtcode  year  statecode     statename  \
8                      19.820             1  2017         14  Chhattisgarh
35                      0.616             2  2017         14  Chhattisgarh
64                      0.267             3  2017         14  Chhattisgarh
71                      7.484             4  2017         14  Chhattisgarh
95                      0.431             5  2017         14  Chhattisgarh

    nitrogenconsumptiontonnes  phosphateconsumptiontonnes  \
8                       91447                       53486
35                      21279                       12584
64                      92008                       47721
71                      72926                       29713
95                      31282                       13620

    potashconsumptiontonnes districtname  irrigatedarea_capped  \
8                     16993         durg                19.820
35                     4271       bastar                 0.616
64                    15054       raipur                 0.267
71                     6915     bilaspur                 7.484
95                     3707      raigarh                 0.430

    irrigatedarea_new  unirrigated_area
8              20.820             0.030
35              1.616             0.104
64              1.267             0.003
71              8.484             0.086
95              1.430             0.000

In [52]:
sugarcane_df = pd.merge(sugarcane_df,rainfall_summary,on='districtname',how = 'left')

In [53]:
sugarcane_df = pd.merge(sugarcane_df,salinity_df,on= 'districtname',how='left')

In [54]:
pd.set_option('display.max_columns',None)

In [55]:
pd.set_option('display.width', None)

In [57]:
print(sugarcane_df.shape)

(266, 17)

In [58]:
sugarcane_df.head()

,crop,area1000hectares,production1000tonnes,irrigatedarea1000hectares,districtcode,year,statecode,statename,nitrogenconsumptiontonnes,phosphateconsumptiontonnes,potashconsumptiontonnes,districtname,irrigatedarea_capped,irrigatedarea_new,unirrigated_area,annual_rainfall,salinity_percent
0,Sugarcane,19.85,3.59,19.820,1,2017,14,Chhattisgarh,91447,53486,16993,durg,19.820,20.820,0.030,861.629998,0.000000
1,Sugarcane,0.72,0.11,0.616,2,2017,14,Chhattisgarh,21279,12584,4271,bastar,0.616,1.616,0.104,902.189990,0.000000
2,Sugarcane,0.27,0.05,0.267,3,2017,14,Chhattisgarh,92008,47721,15054,raipur,0.267,1.267,0.003,683.989988,0.000000
3,Sugarcane,7.57,0.83,7.484,4,2017,14,Chhattisgarh,72926,29713,6915,bilaspur,7.484,8.484,0.086,1857.730027,0.390813
4,Sugarcane,0.43,0.09,0.431,5,2017,14,Chhattisgarh,31282,13620,3707,raigarh,0.430,1.430,0.000,624.520000,0.000000

In [59]:
sugarcane_df.isnull().sum()

crop                           0
area1000hectares              65
production1000tonnes          65
irrigatedarea1000hectares     65
districtcode                   0
year                           0
statecode                      0
statename                      0
nitrogenconsumptiontonnes      0
phosphateconsumptiontonnes     0
potashconsumptiontonnes        0
districtname                   0
irrigatedarea_capped          65
irrigatedarea_new             65
unirrigated_area              65
annual_rainfall               48
salinity_percent              49
dtype: int64

In [60]:
sugarcane_df.dropna(inplace = True)

In [62]:
sugarcane_df.head()

,crop,area1000hectares,production1000tonnes,irrigatedarea1000hectares,districtcode,year,statecode,statename,nitrogenconsumptiontonnes,phosphateconsumptiontonnes,potashconsumptiontonnes,districtname,irrigatedarea_capped,irrigatedarea_new,unirrigated_area,annual_rainfall,salinity_percent
0,Sugarcane,19.85,3.59,19.820,1,2017,14,Chhattisgarh,91447,53486,16993,durg,19.820,20.820,0.030,861.629998,0.000000
1,Sugarcane,0.72,0.11,0.616,2,2017,14,Chhattisgarh,21279,12584,4271,bastar,0.616,1.616,0.104,902.189990,0.000000
2,Sugarcane,0.27,0.05,0.267,3,2017,14,Chhattisgarh,92008,47721,15054,raipur,0.267,1.267,0.003,683.989988,0.000000
3,Sugarcane,7.57,0.83,7.484,4,2017,14,Chhattisgarh,72926,29713,6915,bilaspur,7.484,8.484,0.086,1857.730027,0.390813
4,Sugarcane,0.43,0.09,0.431,5,2017,14,Chhattisgarh,31282,13620,3707,raigarh,0.430,1.430,0.000,624.520000,0.000000